#stack working directory
.stack-work

# Compiled class file - test
*.class

# Log files
*.log

# SMT Solver output
*.smt2

# IDE files and folders
.settings
.idea
*.iml
out/
TAGS
*.swp
.vscode

# SemaphoreCI cache folders
.semaphore-cache

# Sphinx build folders
docs/wiki/_build

# TorXakis traces generated while running `sqatt`

/*Proc.txs
/*Purpose.txs

# Snapcraft artifacts
parts
prime
stage
snap/.snapcraft
*.snap

# special mac files
.DS_Store

# Debian package
*.deb

# RPM package.
*.rpm
_tex/bla/bla.tps
_tex/bla/bla.tcp
_tex/lpeopsDoc/lpeopsDoc.run.xml
_tex/lpeopsDoc/lpeopsDoc.pdf
_tex/lpeopsDoc/lpeopsDoc.blg
_tex/lpeopsDoc/lpeopsDoc.bcf
_tex/lpeopsDoc/lpeopsDoc.bbl
_tex/lpeopsDoc/lpeopsDoc.tcp
_tex/lpeopsDoc/lpeopsDoc.synctex
_tex/lpeopsDoc/constElm.aux
_tex/lpeopsDoc/parElm.aux
_tex/lpeopsDoc/lpeopsDoc.tps
_tex/lpeopsDoc/lpeopsDoc.toc
_tex/lpeopsDoc/lpeopsDoc.aux
_tex/lpeopsDoc/lpeDefinition.aux
_tex/lpeopsDoc/lpeopsDoc.out
